<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
         <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFcylFSgJlVRQ/profile-displayphoto-shrink_200_200/0/1621441450058?e=1629936000&v=beta&t=8JvTIfmBwKxMmN7lALQs_J6erH-VnPDi0oLJ_2-ZUAg" alt="" height="50px" width="50px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item pl-3">
         <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>
        <a href="">
            <li class="nav-item pl-3">
                <p class="text-white fs-16 m-0"><i class="far fa-edit"></i></p>
            </li>
        </a>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li>
            <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fas fa-sign-out-alt"></i></a>
          </li>
      </ul>

    </div>
  </nav>